<footer class="text-center bg-dark-secondary">
  <p>&copy; {{ "now" | date: "%Y" }} The Lizards. All rights reserved. </p>
  <div class="social-links">
    <a href="https://www.facebook.com/TheLizardsMilano" rel="noopener" target="_blank" title="The Lizards Facebook">
      <i class="bi-facebook"></i>
    </a>
    <a href="https://www.youtube.com/thelizardsrock" rel="noopener" target="_blank" title="The Lizards YouTube">
      <i class="bi-youtube"></i>
    </a>
    <a href="https://www.instagram.com/thelizardsmilano" rel="noopener" target="_blank" title="The Lizards Instagram">
      <i class="bi-instagram"></i>
    </a>
    <a href="https://open.spotify.com/artist/5YnIGjxUv0DNzA9doia11J" rel="noopener" target="_blank" title="The Lizards Spotify">
      <i class="bi-spotify"></i>
    </a>
  </div>
</footer>
