<header class="blog-header bg-dark-primary">
  <div class="logo">
    <a href="https://www.thelizards.it/thelizards">
      <img src="{{ '/assets/images/The-Lizards-Logo_small.png' | relative_url }}" alt="The Lizards Logo" width="150">
    </a>
  </div>
  <nav>
    <a href="https://www.thelizards.it/thelizards">Home</a>
    <a href="https://blog-en.thelizards.it">Blog</a>
    <a href="https://www.thelizards.it/thelizards/#contactForm">Contact</a>
    <a href="https://blog.thelizards.it" class="lang-link">IT</a>
    <a href="https://blog-en.thelizards.it" class="lang-link active">EN</a>
  </nav>
</header>
