<header class="blog-header bg-dark-primary">
  <div class="logo">
    <a href="https://www.thelizards.it/lizberries">
      <img src="{{ '/assets/images/The-Lizberries-Logo_small.png' | relative_url }}" alt="Lizberries Logo" width="150">
    </a>
  </div>
  <nav>
    <a href="https://www.thelizards.it/lizberries">Home</a>
    <a href="https://blog-en.lizberries.thelizards.it">Blog</a>
    <a href="https://www.thelizards.it/lizberries/#contactForm">Contact</a>
    <a href="https://blog.lizberries.thelizards.it" class="lang-link">IT</a>
    <a href="https://blog-en.lizberries.thelizards.it" class="lang-link active">EN</a>
  </nav>
</header>